.container{
	height: 90vh;
	width: 90%;
	justify-content: flex;
	flex-direction: column;
	overflow-y: scroll;
}
.title{
	font-size: larger;
	margin: 5px;
}
.main{
	display: flex;
	justify-content: space-between;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	flex-wrap: wrap;
}
.main:hover{
	background-color: lightgray;
}
.position{
	width: 50px;
	margin: 0px, 5px;
}
.name{
	width: 200px;
	margin: 0px, 5px;
}
.updateContainer{
	width: 1000px;
}
.details{
	display: flex;
	flex-wrap: wrap;
}
.updateText {
	margin: 5px;
}
.submit_button{
	width: 50%;
	display: flex;
	justify-content: center;
	margin: 15px 0px 15px 15px;
}