.main{
	width: 30vw;
	height: 95vh;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	white-space: pre-wrap;
}
.text{
	margin: 5px;
}
.input_text_box{
	width: 200px;
	height: 20px;
	margin: 5px;
}
.input_int_box{
	width: 40px;
	height: 20px;
	margin: 5px 5px 5px 10px;
}
.input_position_box{
	width: 200px;
	height: 20px;
	margin: 10px;
}